.app-list-item {
  font-size: 1.25rem;
}

.app-list-item button {
  width: 35px;
  height: 35px;
  margin: 3px;
  font-size: 17px;
  border: none;
  cursor: pointer;
}
.app-list-item button:focus {
  box-shadow: none;
  outline: none;
}
.app-list-item .btn-star {
  color: #818078;
}
.app-list-item .btn-trash {
  color: red;
}
.app-list-item .fa-heart {
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  font-size: 18px;
  color: red;
  transition: 0.3s all;
  transform: translate(-8px, -20px);
  opacity: 0;
}

.app-list-item-label {
  display: block;
  line-height: 35px;
  cursor: pointer;
  user-select: none;
  transition: color 1s ease-in-out;
  transition: font-weight 1s linear;
  max-width: 80%;
  overflow-wrap: break-word;
}

.app-list-item.like .fa-heart {
  opacity: 1;
  transform: translate(-8px, -3px);
}

.app-list-item.important .app-list-item-label {
  color: #ffae00;
  font-weight: 600;
}

.app-list-item.important .btn-star {
  color: #ffae00;
}

@media (max-width: 460px) {
  .app-list-item {
    justify-content: space-between;
  }
  .app-list-item-label {
    max-width: 60%;
  }
}
